// $body-bg: #111;

// $body-color: rgba(255, 255, 255, 0.9);

* {
  box-sizing: border-box;
}

$color-yellow: #e1ba6b;
$color-lightpink: #e8cac3;
$color-cream: #f0e8e2;
$color-green: #577751;

$text-decoration: none;
$link-decoration: none;
$link-color: black;
$heading-font-family: 'Lustria', sans-serif;
$body-font-family: 'Lato', sans serif;

$theme-colors: (
  'primary': #166285,
  'secondary': #e8cac3,
  'success': #577717,
  'info': #3f7679,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

html {
  background-color: $color-yellow;
  height: 100%;
}

body {
  background-image: url(/public/images/Mobil-allasidor-ny.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

main {
  margin-top: 100px;
}

h1 {
  font-size: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poiret, sans-serif;
}

p {
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
}

label {
  font-family: Lato, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.view-divs {
  padding: 20px;
}

.button {
  background-color: $color-cream;
  // border: 1px solid #e8cac3;
  font-family: Lato, sans-serif;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 15px;
  font-size: 0.8rem;
  font-weight: 600;
}

.button:hover {
  background-color: $color-lightpink;
  transition: 0.3s ease-in-out;
}

#start-div {
  padding: 20px;
  background-image: url(/public/images/Mobil-start-ny.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 1500px;
}

footer {
  background-color: $color-green;
  // font-family: poiret;
}
@font-face {
  font-family: poiret;
  src: url(../../assets/Poiret_One/PoiretOne-Regular.ttf);
}

@font-face {
  font-family: Lustria;
  src: url(../../assets/Lustria/Lustria-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../../assets/Lato/Lato-Light.ttf);
}

@import 'bootstrap/scss/bootstrap';
